/* ========================== */
/*  Featured Options Section  */
/* ========================== */
.featuredOptionSectionContainer {
  background-color: var(--secondary-background-color);
  padding: 80px 0px;
  width: 100%;
  overflow: hidden;
}
h2.featuredOptionTitle {
  font-size: 48px;
  font-weight: 500px;
  margin-bottom: 24px;
}

/* =========================== */
/*        Responsive CSS       */
/* =========================== */
@media (max-width: 1024px) {
  h2.featuredOptionTitle {
    font-size: 40px;
    margin-bottom: 24px;
  }
  .featuredOptionSectionContainer {
    background-color: var(--secondary-background-color);
    padding: 40px 0px 24px 0px;
    width: 100%;
    overflow: hidden;
  }
}
