/* =========================== */
/*       Global Styles         */
/* =========================== */
/* ++++++++++ Fonts ++++++++++ */
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;700&display=swap");

/* ++++++++++ Colors ++++++++++ */
:root {
  /* Backgrounds */
  --main-background-color: #fcfcfb;
  --secondary-background-color: #f1ece1;
  --footer-bg-color: #1c1812;

  /* Texts */
  --main-text-color: #1c1812;
  --secondary-text-color: #65625e;

  /* Buttons */
  --main-Button-bg-color: #514432;
  --secondary-Button-bg-color: #DFDEDD;

  --main-button-text-color: #f7f7f6;
  --secondary-button-text-color: #1c1812;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}
